$Default : 1;
$Large : $Default * 1.2;
$Medium: $Default * 1;
$Small : $Default * 0.8;

.ka-button {
  border: 1px solid;
  cursor: pointer;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  margin: 0 10px;

  @mixin Color($color, $bgColor, $borColor: $bgColor) {
    background-color: $bgColor;
    border-color: $borColor;
    color: $color;
  }

  & {
    @include Color(#666666, transparent, #d9d9d9);

    &:hover {
      @include Color(#40a9ff, #fff, #40a9ff);
    }

    &.ka-button__primary {
      @include Color(#fff, #1890ff);

      &:hover {
        @include Color(#fff, #40a9ff);
      }
    }

    &.ka-button__danger {
      @include Color(#f5222d, #f5f5f5, #d9d9d9);

      &:hover {
        @include Color(#fff, #ff4d4f);
      }
    }
  }

  @mixin Shape($s) {
    @if $s=='circle' {
      border-radius: 50%;
    }

    @else if $s=='rect' {
      border-radius: 0;
    }

    @else {
      border-radius: 4px;
    }
  }

  & {
    @include Shape('');

    &.ka-button__circle {
      @include Shape('circle');
    }

    &.ka-button__rect {
      @include Shape('rect');
    }
  }


  @mixin Size($n : 1) {
    padding: 6px * $n 18px * $n;
    font-size: 14px * $n;
  }

  & {
    @include Size();

    &.ka-button__large {
      @include Size($Large);

      &.ka-button__circle {
        padding: 8px * $Large;
      }
    }

    &.ka-button__medium {
      @include Size($Medium);

      &.ka-button__circle {
        padding: 8px * $Medium;
      }
    }

    &.ka-button__small {
      @include Size($Small);

      &.ka-button__circle {
        padding: 8px * $Small;
      }
    }
  }



  & {
    &.ka-button__disabled {
      @include Color(rgba(0, 0, 0, 0.25), #f5f5f5, #d9d9d9);
      cursor: not-allowed;
    }

    &.ka-button__block {
      width: 100%;
    }
  }

  &>.ka-icon+span {
    margin-left: 4px;
  }
}