.ka-header {
  background-color: green;

  &>.ka-header__warper {
    height: 100%;
  }
}

.ka-footer {
  background-color: greenyellow;

  &>.ka-footer__warper {
    height: 100%;
  }
}

.ka-section {
  background: blue;

  &>.ka-section__warper {
    height: 100%;
  }
}

.ka-aside {
  background: red;

  position: absolute;
  left: 0;

  &>.ka-aside__warper {
    height: 100%;
  }
}

.ka-layout {
  background-color: yellow;

  &>.ka-layout__warper {
    position: relative;
    height: 100%;
  }

  &.ka-layout_flex {
    height: 100%;

    &>.ka-layout__warper {
      display: flex;
      flex-direction: column;

      &>.ka-layout,
      &>.ka-section {
        flex: 1;
      }
    }
  }

  &.ka-layout_block {
    height: auto;
    display: block;
    flex-direction: initial;
  }
}